@media (max-width: 560px) {
    .mx_SpaceCreateMenu_wrapper {
        left: 72px!important;
        width: 79vw!important;

        .mx_ContextualMenu {
            width: 100%;

            .mx_SpacePillButton {
                width: 100%;
            }
        }
    }
}