**/node_modules
**/.git
**/dist
**/build
**/lib
**/webapp
**/.nx
**/.turbo
**/*.log
**/coverage
**/test/
**/playwright/
**/*.md
!PRODUCTION.md
# Required by api-extractor during @element-hq/element-web-module-api:build
!**/*.api.md
element-web/apps/desktop/
!element-web/apps/desktop/package.json