/*
Copyright 2024 New Vector Ltd.
Copyright 2021 Šimon Brandner <simon.bra.ag@gmail.com>
Copyright 2020 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_IncomingLegacyCallToast {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    pointer-events: initial; /* restore pointer events so the user can accept/decline */

    .mx_IncomingLegacyCallToast_content {
        display: flex;
        flex-direction: column;
        min-width: 0;
        flex: 1;
        margin-left: 8px;

        .mx_LegacyCallEvent_caller {
            font-weight: bold;
            font-size: $font-15px;
            line-height: $font-18px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            margin-top: 2px;
            margin-right: 6px;

            max-width: 200px;
        }

        .mx_LegacyCallEvent_type {
            font-size: $font-12px;
            line-height: $font-15px;
            color: $tertiary-content;

            margin-top: 4px;
            margin-bottom: 6px;

            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .mx_IncomingLegacyCallToast_buttons {
            margin-top: 8px;
            display: flex;
            flex-direction: row;
            gap: 8px;

            .mx_IncomingLegacyCallToast_button {
                @mixin LegacyCallButton;
                padding: 8px 12px;
                flex: 1 1 0;
                min-width: 0;
                font-size: $font-15px;
            }
        }
    }

    .mx_IncomingLegacyCallToast_iconButton {
        display: flex;
        flex: 0 0 20px;
        height: 20px;
        width: 20px;
        margin-left: 8px;

        svg {
            height: inherit;
            width: inherit;
            color: $tertiary-content;
        }
    }
}

@media (max-width: 535px) {
    .mx_ToastContainer {
        width: calc(100vw - 24px);
        max-width: calc(100vw - 24px);
    }

    .mx_Toast_toast:has(.mx_IncomingLegacyCallToast) {
        width: 100%;
        box-sizing: border-box;
    }

    .mx_IncomingLegacyCallToast {
        .mx_IncomingLegacyCallToast_content {
            .mx_LegacyCallEvent_caller {
                max-width: none;
            }

            .mx_IncomingLegacyCallToast_buttons {
                gap: 8px;

                .mx_IncomingLegacyCallToast_button {
                    padding: 8px;
                }
            }
        }
    }
}