@media (max-width: 767px) {
    .mx_SpacePreferencesDialog {
        width: 70vw;

        .mx_TabbedView_tabsOnLeft {
            width: 85%;

            .mx_TabbedView_tabLabels {
                width: 85%;
                max-width: none;
            }

            .mx_TabbedView_tabPanel {
                margin-left: 7px;

                .mx_SettingsTab {
                    min-width: 0;
                    margin-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

@media (max-width: 535px) {
    .mx_SpacePreferencesDialog {
        .mx_TabbedView_tabsOnLeft {
            width: 80%;

            .mx_TabbedView_tabLabels {
                width: 80%;
            }
        }
    }
}

@media (max-width: 360px) {
    .mx_SpacePreferencesDialog {
        width: 65vw;
    }
}