@media (max-width: 767px) {
    .mx_InviteDialog_addressBar {
        width: 100%;
        flex-direction: column;
    }

    .mx_InviteDialog_editor {
        margin: 2px;
    }

    .mx_InviteDialog_addressBar .mx_AccessibleButton {
        width: 86px;
        margin: 10px 2px;
    }
}

@media (max-width: 480px) {
    .mx_UnknownIdentityUsersWarningDialog_buttons button {
        padding-inline: 12px 20px;
    }
}