@media (max-width: 767px) {
    .mx_PollHistoryList {
        .mx_PollHistoryList_list {
            padding-right: 0;
        }

        .mx_PollHistoryList_noResults {
            padding: 0;
        }
    }
}