@media (max-width: 767px) {
    .mx_ThreadView {
        .mx_EventTile[data-layout="bubble"] {
            margin-inline: 50px;

            .mx_EventTile_msgOption {
                .mx_ReadReceiptGroup {
                    inset-inline-end: -40px;
                }
            }
        }
    }
}