@media (max-width: 610px) {
    .mx_BulkRedactDialog, 
    .mx_UserInfoKickDialog, 
    .mx_UserInfoBanDialog, 
    .mx_UserInfoDeactivateDialog {
        width: 70vw;
    }
}

@media (max-width: 535px) {
    .mx_BulkRedactDialog, 
    .mx_UserInfoKickDialog, 
    .mx_UserInfoBanDialog, 
    .mx_UserInfoDeactivateDialog {
        .mx_Dialog_buttons {
            .mx_Dialog_buttons_row {
                button {
                    padding: 7px 10px;
                }
            }
        }
    }
}