@media (max-width: 767px) {
    .mx_ImageView {
        .mx_ImageView_panel {
            height: auto;
            padding-top: 10px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            .mx_ImageView_title {
                padding: 5px 32px 5px 77px;
                text-align: start;
            }

            .mx_ImageView_toolbar {
                padding-right: 32px;
                padding-bottom: 5px;
            }
        }
    }
}

@media (max-width: 360px) {
    .mx_ImageView {
        .mx_ImageView_panel {
            .mx_ImageView_toolbar {
                gap: 6px;
            }
        }
    }
}