@media (max-width: 360px) {
    .mx_PollCreateDialog_wrapper {
        .mx_CompoundDialog {
            .mx_CompoundDialog_footer {
                .mx_AccessibleButton {
                    margin-left: 12px;
                }
            }
        }
    }
}