.mx_NewRoomIntro {
    .mx_EventTileBubble.mx_cryptoEvent {
        margin-bottom: 50px;
    }
}

@media (max-width: 1000px) {
    .mx_EventTile[data-layout="bubble"][data-self="false"] .mx_MessageActionBar {
        inset-inline-start: 0;
    }
}

@media (max-width: 540px) {
    .mx_EventTile[data-layout=group] {
        .mx_EventTile_line:not(:where(.mx_ThreadView .mx_EventTile .mx_EventTile_line)) {
            margin-right: 50px;
        }

        .mx_EventTile_line:has(.mx_EventTileBubble):not(:has(.mx_cryptoEvent)) {
            margin-left: 64px;

            .mx_EventTileBubble {
                min-width: 100%
            }
        }
    }
}

@media (max-width: 450px) {
    .mx_NewRoomIntro {
        margin-left: 20px;
        margin-right: 20px;

        .mx_EventTileBubble.mx_cryptoEvent {
            min-width: 100%;
        }
    }

    .mx_GenericEventListSummary {
        margin-right: 0;
    }

    .mx_GenericEventListSummary_toggle {
        margin-right: 0;
    }

    .mx_EditMessageComposer {
        .mx_EditMessageComposer_buttons {
            .mx_AccessibleButton {
                min-width: 70px;
            }
        }
    }

    .mx_EventTile {
        .mx_EventTile_line {
            .mx_LegacyCallEvent.mx_LegacyCallEvent_voice.mx_LegacyCallEvent_narrow {
                min-width: 100%;
            }
        }
    }

    .mx_EventTile[data-layout=group] {
        .mx_EventTile_line:has(.mx_EventTileBubble.mx_cryptoEvent) {
            width: 100%;
            
            .mx_EventTileBubble.mx_cryptoEvent {
                min-width: 100%;
            }
        }
    }

    .mx_EventTile[data-layout=group]:has(.mx_EventTileBubble.mx_cryptoEvent) {
        margin-left: 20px;
        margin-right: 20px;
    }

    .mx_EventTile[data-layout=bubble]:has(.mx_EventTileBubble.mx_cryptoEvent) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 415px) {
    .mx_PinnedMessageBanner_actions {
        padding-inline: 0 !important;
    }
}

@media (max-width: 360px) {
    .mx_LegacyCallEvent.mx_LegacyCallEvent_voice.mx_LegacyCallEvent_narrow {
        padding: 12px 12px;

        .mx_LegacyCallEvent_content {
            .mx_LegacyCallEvent_content_button {
                svg {
                    margin-right: 5px;
                }
            }
        }
    }

    
    .mx_EventTile_mediaLine {
        .mx_MessageTimestamp:has(+.mx_MVoiceMessageBody){
            padding-bottom: 0;
        }
    }
}